extends views/layouts/default  
      
block main
  center
    h1 请在浏览器中打开，图片出现后点击。
    #container
    audio(src="http://www.51mp3ring.com/51mp3ring_com2/at20055417152979983.mp3" controls="controls" autoplay)


