extends views/layouts/default  
      
block main
  center
    h1 请在浏览器中打开，图片出现后点击。
    #container(style="width:95%; height:80%; position:absolute;")
    #prompt(style="width:95%; height:6%; bottom:0; text-align:center; position:absolute;") Click to animate the cube

