script(src='http://libs.baidu.com/jquery/2.0.0/jquery.min.js')
script(src='http://cdnjs.cloudflare.com/ajax/libs/three.js/r70/three.min.js')
script(src='/js/web3d.js')
script(src='/js/interactive.js')
script(src='/js/main.js')



